<% if features.present? %>
  <% previous = features.first.to_a %>
  <% current = features.last.to_a %>

  <div>
    <strong>Features</strong>

    <ul>
      <% previous.each do |feature| %>
        <li style='color: red'><%= feature %></li>
      <% end %>
    </ul>

    <ul>
      <% current.each do |feature| %>
        <li style='color: green'><%= feature %></li>
      <% end %>
    </ul>
  </div>
<% end %>
