<% if images.present? %>
  <% previous = images.first.to_a %>
  <% current = images.last.to_a %>

  <div>
    <strong>Images</strong>
    <ul>
      <% previous.each do |image| %>
        <li style='color: red'>
          <%= image_tag(image, style: 'max-width: 200px') %>
        </li>
      <% end %>
    </ul>

    <ul>
      <% current.each do |image| %>
        <li style='color: green'>
          <%= image_tag(image, style: 'max-width: 200px') %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
